<div class="container">
  <br>
  <h3><%= "Valor del contador #{@group.name}"%></h3>
  <br>
  <h5>
    <%= @groupvalue %>
  </h5>
  <br>
  <%= button_to "Siguiente", next_path(@group), method: :put %>
  <br>
  <%= button_to "Resetear", reset_path(@group), method: :put %>
  <br>
  <%= link_to "Volver al menú", root_path %>
  <%= @group.segments.first.created_at.strftime("%Y%m%d") %>
</div>